<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/api.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <!-- Fim google Fonts -->
    <!--Bootstrap Ícons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--Fim Bootstrap Ícons-->
    <title>API</title>
</head>

<body>
    <main>
        <section class="topo-do-site">
            <div class="interface">
                <div class="flex">
                    <div class="txt-topo-site">
                        <h1>Painel Econômico SP <span class="quebra"> Comércio Exterior(API)</span></h1>
                        <article>
                            <p>O projeto possui gráficos que evidenciam as exportações e importações dos municípios do Estado de São Paulo, possuindo diversos filtros, como valor agregado, valor FOB, kg_líquido, carga, município. O projeto é voltado para análise e comparação entre os municípios e suas cargas, para auxiliar o especialista em logística a tomar a melhor decisão em seus projetos.</p>
                        </article>
                        <h2 class="titulo">Tecnologias do Projeto</h2>
                        <div class="tecnologias">
                            <img src="https://img.shields.io/badge/Python-blue.svg?style=for-the-badge&logo=Python&logoColor=white" alt="Python">
                            <img src="https://img.shields.io/badge/Flask-blue.svg?style=for-the-badge&logo=Flask&logoColor=white" alt="Flask">
                            <img src="https://img.shields.io/badge/HTML-blue.svg?style=for-the-badge&logo=HTML&logoColor=white" alt="HTML">
                            <img src="https://img.shields.io/badge/CSS-blue.svg?style=for-the-badge&logo=CSS&logoColor=white" alt="CSS">
                            <img src="https://img.shields.io/badge/Figma-blue.svg?style=for-the-badge&logo=Figma&logoColor=white" alt="Figma">
                            <img src="https://img.shields.io/badge/VSCode-blue.svg?style=for-the-badge&logo=Visual Studio Code&logoColor=white" alt="VSCode">
                            <img src="https://img.shields.io/badge/Jira-blue.svg?style=for-the-badge&logo=Jira&logoColor=white" alt="Jira">
                            <img src="https://img.shields.io/badge/Git-blue.svg?style=for-the-badge&logo=Git&logoColor=white" alt="Git">
                            <img src="https://img.shields.io/badge/Plotly-blue.svg?style=for-the-badge&logo=Plotly&logoColor=white" alt="Plotly">
                            <img src="https://img.shields.io/badge/JavaScript-blue.svg?style=for-the-badge&logo=JavaScript&logoColor=white" alt="JavaScript">
                            <img src="https://img.shields.io/badge/MySQL-blue.svg?style=for-the-badge&logo=MySQL&logoColor=white" alt="MySQL">
                            <img src="https://img.shields.io/badge/Streamlit-blue.svg?style=for-the-badge&logo=Streamlit&logoColor=white" alt="Streamlit">
                            <img src="https://img.shields.io/badge/Google Colab-blue.svg?style=for-the-badge&logo=Google Colab&logoColor=white" alt="Google Colab">
                        </div>
                    </div><!--txt-topo-site-->
                    <div class="img-topo-site">
                        <iframe width="640" height="360" src="https://drive.google.com/file/d/1Hc7FWS-Gg7IBMVsqtPdwrUzRY7F-tybe/preview" frameborder="0" allowfullscreen>
                        </iframe>
                        <a href="https://github.com/arthur-oliver/API-Crows" target="_blank" style="margin-top: 10px; padding: 10px 20px; background: #056CF2; color: #fff; text-decoration: none; border-radius: 5px; display: inline-block;">
                            ▶ Ver o Código
                        </a>                    
                    </div><!--img-topo-site-->
                </div><!--flex-->
            </div><!--interface-->
        </section><!--topo-do-site-->
        <section class="sobre" id="sobre">
            <div class="interface">
                <div class="flex">
                    <div class="img-sobre">
                        <img src="/img/logo_api.jpeg" alt="">

                    </div><!--img-sobre-->
                    <div class="txt-sobre">
                        <h2>Minha atuação<span> na API:</span></h2>
                        <p>Neste projeto, atuei como Product Owner, sendo responsável pela definição e gestão do backlog do produto. Elaborei e priorizei as entregas das sprints com base nas necessidades do negócio, alinhando constantemente as expectativas com o cliente por meio de questionários no slack. Além disso, conduzi sessões com o time de desenvolvimento para garantir clareza nos requisitos e propor soluções que simplificassem a entrega, otimizando o uso do tempo e dos recursos disponíveis. Também atuei como facilitador entre o cliente e o time, promovendo a colaboração contínua, a validação de entregas e a adaptação rápida frente a mudanças.</p>
                        <p>Assumi um papel multifuncional neste projeto, participei da construção da aplicação com Flask. Realizei a primeira versão de integração entre o front-end e o back-end utilizando Flask, desenvolvendo desde a lógica de geração de arquivos CSV — que alimentavam dinamicamente as opções da página — até os filtros que posteriormente chamava a função geradora de gráficos e posteriormente carregava no site por meio de rotas. Além disso, fui o responsável por gerar: o gráfico da Balança Comercial, integrando dados processados dessa geração de gráficos.</p>
                        </div>
                    </div><!--txt-sobre-->
                </div><!--flex-->
            </div><!--interface-->
        </section><!--sobre-->
    </main>
</body>

</html>