<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/api.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <!-- Fim google Fonts -->
    <!--Bootstrap Ícons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--Fim Bootstrap Ícons-->
    <title>API</title>
</head>

<body>
    <main>
        <section class="topo-do-site">
            <div class="interface">
                <div class="flex">
                    <div class="txt-topo-site">
                        <h1>Maquete <span> Indústria 4.0</span></h1>
                        <article>
                            <p>A maquete é uma proposta que representará uma Célula de Usinagem Autônoma com interface web. Está Célula contém duas estações de usinagem de peças e duas estações de inspeção de qualidade das mesmas, uma plataforma giratória e um braço robótico. Além de um roteador externo a maquete, usado para acessar a página web</p>
                        </article>
                        <h2 class="titulo">Ferramentas e Tecnologias</h2>
                        <div class="tecnologias">
                            <a href="https://easyeda.com/" target="_blank" style="text-decoration: none; color: inherit;">
                                <img src="/img/easyeda.svg" height="36px" alt="easyeda">
                            </a>
                            <a href="https://www.raspberrypi.com/" target="_blank" style="text-decoration: none; color: inherit;">
                                <img src="/img/raspberry-pi.svg" height="36px" alt="raspberry-pi">
                            </a>
                            <img src="/img/soldering-iron.svg" height="36px" alt="soldering-iron">
                        </div>
                    </div><!--txt-topo-site-->
                    <div class="img-topo-site">
                        <iframe width="640" height="360" src="https://drive.google.com/file/d/1-0aBwNuJZolowdCJ-Qm24-DIHUkd5W1o/preview" frameborder="0" allowfullscreen>                            
                        </iframe>
                        <a href="/docs/Technical Documentation Maquete 4.0.pdf" target="_blank" style="margin-top: 10px; padding: 10px 20px; background: #056CF2; color: #fff; text-decoration: none; border-radius: 5px; display: inline-block;">
                            ▶ Ver a documentação
                        </a>
                    </div><!--img-topo-site-->
                </div><!--flex-->
            </div><!--interface-->
        </section><!--topo-do-site-->
        <section class="sobre" id="sobre">
            <div class="interface">
                <div class="flex">
                    <div class="img-sobre">
                        <img src="/img/maquete.jpg" class="circle-img" alt="">
                    </div><!--img-sobre-->
                    <div class="txt-sobre">
                        <h2>Minha atuação<span> na Maquete Indústria 4.0:</span></h2>
                        <p> Neste projeto multidisciplinar, atuei como projetista eletrônico, sendo o principal responsável pela definição e elaboração do diagrama elétrico para o desenvolvimento da prototipagem da maquete. Desenvolvi o circuito com foco em um sistema modular, visando facilitar futuras manutenções e expansões, além de garantir a integração eficiente com o restante da arquitetura do projeto.</p>

                        <p>Trabalhei em constante alinhamento com a equipe de mecânica, assegurando a compatibilidade entre os componentes eletrônicos e a estrutura física da maquete. Também considerei os recursos que estariam disponíveis para a equipe de desenvolvimento embarcado, especialmente no uso do Raspberry Pi, otimizando a distribuição de GPIOs, alimentação e comunicação entre os módulos.
                        </p>
                        <p>Além disso, contribuí para a elaboração de documentação técnica e participei ativamente nos problemas que apareceram na protipação, propondo soluções para desafios de integração entre hardware e software. Durante os mais de 6 meses de desenvolvimento, colaboramos intensamente para garantir que todas as funcionalidades planejadas fossem implementadas com sucesso. Ao final, realizamos uma série de testes de validação, obtendo resultados positivos em termos de desempenho, estabilidade e usabilidade do sistema.</p>
                        </div>
                    </div><!--txt-sobre-->
                </div><!--flex-->
            </div><!--interface-->
        </section><!--sobre-->
    </main>
</body>

</html>