<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/api.css">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
    <!-- Fim google Fonts -->
    <!--Bootstrap Ícons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!--Fim Bootstrap Ícons-->
    <title>API</title>
</head>

<body>
    <main>
        <section class="topo-do-site">
            <div class="interface">
                <div class="flex">
                    <div class="txt-topo-site">
                        <h1>Projeto <span>Katara</span></h1>
                        <article>
                            <p>Um Irrigador Inteligente, alimentado por uma célula fotovoltaica (energia solar), que funciona automaticamente e utiliza água das chuvas. Conta ainda com um aplicativo para interação com o usuário.</p>
                            <p>A ideia surgiu visando facilitar o controle da irrigação em hortas comunitárias e torná-la sustentável, com menos desperdício de água e a reutilização da chuva, além de energia limpa. Outro ponto é valorização deste meio, já que o projeto é objetivado para apoiar essas iniciativas e inserir tecnologias para tirar essa responsabilidade diária que se tem com o cultivo, através dessa automação.</p>
                        </article>
                        <h2 class="titulo">Ferramentas e Tecnologias</h2>
                        <div class="tecnologias">
                            <a href="https://www.arduino.cc/en/Guide/Environment/" target="_blank" title="Arduino IDE" style="text-decoration: none;">
                                <img src="/img/arduino-ide.svg" height="36px" alt="Arduino IDE">
                            </a>
                            <a href="https://www.tinkercad.com" target="_blank" title="Tinkercad" style="text-decoration: none;">
                                <img src="/img/tinkercad.png" height="36px" alt="Tinkercad">
                            </a>
                            <a href="https://wokwi.com" target="_blank" title="Wokwi" style="text-decoration: none;">
                                <img src="/img/wokwi.png" height="36px" alt="Wokwi">
                            </a>
                            <a href="https://fritzing.org" target="_blank" title="Fritzing" style="text-decoration: none;">
                                <img src="/img/fritzing.svg" height="36px" alt="Fritzing">
                            </a>
                            <a href="https://www.3ds.com/products-services/catia/" target="_blank" title="CATIA" style="text-decoration: none;">
                                <img src="/src/static/img/catia.png" height="36px" alt="CATIA">
                            </a>
                            <a href="https://www.usinainfo.com.br/blog/esp32-wifi-comunicacao-com-a-internet/?srsltid=AfmBOopjeVUXd8tV1nDBV-_690-kGe-p8qzRCxmo6J5coGrdLo3BUUvI" target="_blank" title="Rede Wifi com ESP32" style="text-decoration: none;">
                                <img src="/img/modem.svg" height="36px" alt="CATIA">
                            </a>
                            <img src="/img/soldering-iron.svg" height="36px" alt="">
                        </div>
                    </div><!--txt-topo-site-->
                    <!-- blob:https://globoplay.globo.com/4da75a64-24a0-4a2f-ad2c-9e7b6724a83f -->
                    <div class="img-topo-site">
                        <iframe width="640" height="360" src="https://drive.google.com/file/d/14oblOGxuo2wn-fiRCVU0jsoL8DQ38jwA/preview" frameborder="0" allowfullscreen>                            
                        </iframe> 
                        <a href="https://globoplay.globo.com/v/9176284/" target="_blank" style="margin-top: 10px; padding: 10px 20px; background: #056CF2; color: #fff; text-decoration: none; border-radius: 5px; display: inline-block;">
                            ▶ Assistir no Globoplay
                        </a>
                    </div><!--img-topo-site-->
                </div><!--flex-->
            </div><!--interface-->
        </section><!--topo-do-site-->
        <section class="sobre" id="sobre">
            <div class="interface">
                <div class="flex">
                    <div class="img-sobre">
                        <div style="position: relative; min-width: 300px; max-height: 250px;">
                        <iframe 
                            src="/docs/Sistema_Katara_Montagem_P1.pdf" 
                            style="width: 100%; height: auto; border: none;">
                        </iframe>
                        <a href="/docs/Sistema_Katara_Montagem_P1.pdf" 
                            target="_blank" 
                            style="position: absolute; top: 0; left: 0; width: 90%; height: 90%; z-index: 2;">
                        </a>
                        </div>
                    </div><!--img-sobre-->
                    <div class="txt-sobre">
                        <h2>Minha atuação<span> no TCC:</span></h2>
                        <p> Este trabalho multidisciplinar, foi realizado após o término do evento <a href="https://www.portalr3.com.br/2021/01/11/alunos-da-etec-de-sao-jose-dos-campos-criam-irrigador-inteligente-para-hortas" target="_blank" style="text-decoration: none; color: #056CF2;">  Hackaton Acadêmico do Centro Paula Souza (CPS), 3° Edição de 2020</a>, onde levamos adiante o projeto para o Trabalho de Conclusão de Curso, neste projeto atuei como projetista eletrônico, sendo o responsável pela definição e elaboração do diagrama elétrico para o desenvolvimento da prototipagem do irrigador. Desenvolvi o circuito com foco em um sistema modular, visando facilitar futuras manutenções e expansões, além de garantir a integração eficiente com o restante da arquitetura do projeto.</p>
                        <p>Além disso, contribuí para a elaboração de documentação técnica e participei do processo de montar o irrigador na horta, colaboramos intensamente para garantir que todas as funcionalidades planejadas fossem implementadas com sucesso. Ao final, realizamos uma série de testes de validação, obtendo resultados positivos em termos de desempenho do sistema.</p>
                        <a href="https://crtsp.gov.br/premiacao-do-3o-hackathon-academico-do-cps-responsabilidade-social/"  target="_blank" style="text-decoration: none; color: #056CF2;">Site alternativo</a>
                        </div>
                    </div><!--txt-sobre-->
                </div><!--flex-->
            </div><!--interface-->
        </section><!--sobre-->
    </main>
</body>
</html>